@model ProductViewModel

<div>
    @if (Model is not null)
    {
        <p>Идентификатор: @Model.Id</p>
        <p>Название: @Model.Name</p>
        <p>Описание: @Model.Description</p>
        <p>Количество: @Model.Count</p>
        <p>Дата создания: @Model.Created</p>
        <p>Дата старта продаж: @Model.StartOfSales</p>
    }
    else
    {
        <p>Данного продукта не существует</p>
    }
</div>
