@model ProductViewModel

<div>
    @if (Model is not null)
    {
        <input asp-for=Id hidden id="objectId" />
        <p>Идентификатор: @Model.Id</p>
        <p>Название: @Model.Name</p>
        <p>Описание: @Model.Description</p>
        <p>Количество: @Model.Count</p>
        <p>Дата создания: @Model.Created</p>
        <p>Дата старта продаж: @Model.StartOfSales</p>
        <div id="fromHub"></div>
        <input id="buy" type="button" value="Купить" hidden="@(!Model.IsSalesStart)" />
    }
    else
    {
        <p>Данного продукта не существует</p>
    }
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sales.js"></script>